.messages-container{
    position: absolute;
    bottom: 1rem;
    right: 10px;
    max-width: 60%;
    display: flex;
    // flex-direction: row;
    // align-items: flex-end;
    // flex-wrap: wrap;
    // flex-wrap: wrap-reverse;
    overflow: hidden;

    .message-component{
        flex: 1 1 auto;
        margin: 5px;
        border: 2px solid rgb(63, 63, 63);
        padding: 5px;
        min-width: 21%;
        border-radius: 5px;
        background-color: $grey;

        .header{
            
            display: flex;
            flex-direction: row;
           
            
            .user{
                width: 80%;
                display: flex;

                img{
                    border-radius: 50%;
                    width: 25%;
                }

                p{
                    margin-left: 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 2vh;
                }
            }

            .navigation{
                width: 20%;
                font-weight: bold;
                text-align: right;
                margin-left: 5px;

                i{
                    cursor: pointer;
                    margin-left: 5px;
                    font-size: 2vh;
                }
            }
        }

        .body{
           
            overflow: hidden;
            margin: 5px;
            height: 33vh;

            .messages{
                overflow-y: scroll;
                max-height: 25vh;
                background-color: $white;
                padding: 5px;
                border-radius: 5px;
                .bubble{
                    padding: 5px;
                    border-radius: 5px;
                    background-color: $grey;
                    text-align: left;
                    margin: 10px 5px;
                    &.right{
                        background-color: $blue;
                        color: $white;
                        text-align: right;
                    }
                }
            }

            .form-inputs{
                margin-top: 10px;
                background-color: $white;
                padding: 5px;
                border-radius: 5px;
                position: relative;

                .controlls{
                    position: absolute;
                    right: 0;
                    top: 1px;
                    margin: 2px;
                    i{
                        margin-right: 3px;
                    }
                }
                
                textarea{
                    background-color: $white;
                    border: none;
                    width: 90%;
                    padding: 5px;
                    overflow-y: scroll;
                    resize: none;
                    // margin: 8px 3px;
                }

                button{
                    background-color: $blue;
                    color: $white;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    padding: 5px;
                    margin: 2px 4px;
                }
            }
        }

       
    }

    @media only screen and (max-width: 1240px) {
        .message-component{
            min-width: 46%;
        }
    }

    @media only screen and (max-width: 480px) {
      
        max-width: 80%;

        .message-component{
            min-width: 93%;
        }
        
    }
}






