.messages-container{
    position: fixed;
    bottom: 1rem;
    right: 0;
    left: 0;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;

    .message-component{

        // border: 2px solid rgb(63, 63, 63);
        padding: 5px;
        border-radius: 5px;
    
        display: inline-block;
        width: 24.4%;

        .outline{
            border: 2px solid rgb(63, 63, 63);
            border-radius: 5px;
            background-color: $grey;
            padding: 1%;

            .header{
            
                display: flex;
                justify-content: space-between;
               
                
                a{
                    display: flex;
                    gap: 1rem;
                    text-decoration: none;
                    color: $black;
                    font-weight: bold;
                    align-items: center;

                    img{
                        border-radius: 50%;
                        height: 4rem;
                        width: 4rem;
                    }
    
                    p{
                        margin-left: 10px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 2vh;
                    }
                }
    
                .navigation{
                   
                    font-weight: bold;
                    text-align: right;
    
                    i{
                        cursor: pointer;
                        margin-left: 5px;
                        font-size: 1rem;
                    }
                }
            }
    
            .body{
               
                overflow: hidden;
                margin: 5px;
                max-height: 0;
                transition: max-height 0.25s ease-out;
                &.active{
                    max-height: 20rem;
                    transition: max-height 0.25s ease-in;
                }
    
                .messages{
                    overflow-y: scroll;
                    max-height: 25vh;
                    background-color: $white;
                    padding: 5px;
                    border-radius: 5px;
                    .message-item{
                        display: flex;
                        margin: 10px 5px;
                        gap: 0.5rem;
                        .actions{
                            text-align: right;
                            font-weight: bold;
                            position: relative;
                            z-index: 5;

                            i{
                                cursor: pointer;
                            }

                            .dropdown{
                                display: none;
                                position: absolute;
                                top: 0;
                                top: 1.1rem;
                                background-color: $grey;
                                color: $white;
                                padding: 0.6rem;
                                text-align: center;
                               
                                border-radius: 5px;
                                .item{
                                    background-color: $blue;
                                    cursor: pointer;
                                    border: 1px solid $white;
                                    border-radius: 5px;
                                    padding: 0.4rem;
                                    margin-top: 0.4rem;
                                    &:nth-of-type(1){
                                        margin-top: 0;
                                    }
                                }
                                &.active{
                                    display: block;
                                }
                            }
                        }
                        .bubble{
                            padding: 5px;
                            border-radius: 5px;
                            background-color: $grey;
                            text-align: left;
                           
                            flex: 1;
                            .read{
                                margin-top: 0.5rem;
                            }
                            &.right{
                                background-color: $blue;
                                color: $white;
                                text-align: right;
                            }
                        }
                    }
                }
    
                .form-inputs{
                    margin-top: 10px;
                    background-color: $white;
                    padding: 5px;
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    height: 4rem;
                    .txt{
                        flex: 1;
                        height: 4rem;
                        background-color: #ffffff;
                        overflow-y: scroll;
                        outline: none;
                        border: none;
                        text-align: left;
                    }

                    .controlls{
                        .emoji-holder{
                            text-align: center;
                            
                            i{
                                font-size: 1.4rem;
                                cursor: pointer;
                            }
                            .dropdown{
                                display: none;
                                flex: auto;
                                gap: 5px;
                                position: absolute;
                                right: 0;
                                bottom: 5rem;
                                .flex{
                                    display: flex;
                                    flex-flow: row wrap;
                                    gap: 10px;
                                    border: 1px solid $black;
                                    border-radius: 5px;
                                    height: 4rem;
                                    overflow: scroll;
                                    background-color: $white;
                                    padding: 5px;
                    
                                    .emoji-item{
                                        cursor: pointer;
                                        font-size: 1.4rem;
                                    }
                                }
                                &.active{
                                    display: block;
                                }
                            }
                        }
                       .btns{
                        display: flex;
                        gap: 10px;
                        margin-top: 2px;
                        .btn{
                            font-size: 0.8rem;
                            padding: 0.4rem;
                        }
                       }
                    }
    
                 
                }
            }
        }

        @media only screen and (max-width: 1240px) {
            width: 49%;
        }
    
        @media only screen and (max-width: 480px) {
          
            width: 98%;
            
        }
    
    }

  
}






