.navbar-container{
    margin: auto;
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: $grey;
    align-items: center;
    margin-top: -10px;
    justify-content: space-between;
    z-index: 2;
    flex-wrap: wrap;

    .logo-container{
        display: flex;
        align-self: flex-start;
        position: relative;
        gap: 1rem;
        padding: 1.2rem;
        @media only screen and (max-width: 382px) {
            gap: 0.5rem;
        }
        .logo{
            text-decoration: none;
            color: $blue;
            font-style: italic;
            font-size: 2rem;
            font-weight: bold;
            text-shadow: 2px 2px rgb(8, 8, 255);

            @media only screen and (max-width: 382px) {
                font-size: 1.3rem;
            }
        }
        input{
            background-color: $white;
            border: none;
            padding: 12px 15px;
            margin-left: 10px;
        }
        .results{
            width: 90%;
            // min-height: 100px;
            background-color: $darkGrey;
            position: absolute;
            top: 3.9rem;
            right: 0;
            border-radius: 10px;
            display: none;
            padding: 10px;
            overflow-y: scroll;
            max-height: 40vh;

            .message-loader{
                margin-bottom: 1rem;
            }

            .not-found{
                font-size: 1.2rem;
                text-align: center;
                color: $white;
                padding: 1rem;
            }

            &.active{
                display: block;
                z-index: 3;
            }

            .item{
                text-decoration: none;
                display: flex;
                color: $black;
                background-color: $white;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                img{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                }

                div{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    align-self: center;
                    margin-left: 1rem;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }

        }
    }

    .navigation-container{
        color: $black;
        display: flex;
        gap: 2rem;
        padding: 0.5rem;
        position: relative;
        padding: 1.2rem;
        margin-left: auto;
        i{
            font-size: 2.5em;
            cursor: pointer;
            position: relative;
            span{
                position: absolute;
                top: -8px;
                border-radius: 10%;
                padding: 6px;
                right: -3px;
                font-size: 12px;
                background: $red;
                color: $white;
            }
        }

        .dropdown{
            position: absolute;
            background-color: $darkGrey;
            // height: 100px;
            max-height: 27rem;
            width: 130%;
            border-radius: 5px;
            right: 0;
            padding: 10px;
            overflow-y: scroll;

            .not-found{
                color: $white;
                text-align: center;
                font-size: 1rem;
            }

            @media only screen and (max-width: 370px) {
                width: 95%;
                font-size: 16px;

                .item{
                    img{
                        width: 3rem;
                        height: 3rem;
    
                    }
                }

                .actions{
                    gap: 0.5rem !important;
                    .btn{
                        font-size: 10px;
                    }
                }
            }

            .link{
                color: $white;
                text-align: right;
                font-weight: bold;
                padding: 0.5rem;
                cursor: pointer;
                margin-left: auto;
                
            }

            img{
                height: 4rem;
            }

            .settings{
                color: $white;
                .logout{
                    margin: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                    i{
                        font-size: 1rem;
                    }
                }

                img{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    margin-right: 10px;

                }
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $white;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 1rem;
                    font-weight: bold;

                    i{
                        font-size: 1rem;
                    }
                }
            }

            form{
                input{
                    background-color: #ffffff;
                    border: none;
                    padding: 12px 15px;
                    margin-left: 10px;
                    width: 88%;
                    border-radius: 5px;
                }
                margin-bottom: 2rem;
            }

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            -ms-overflow-style: none;
            scrollbar-width: none;

            display: none;
            &.active{
                display: block;
            }

            .zero-notifications{
                text-align: center;
                padding: 1rem;
                color: $white;
                font-size: 1rem;
                font-weight: bold;
            }

            .item{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                background-color: $white;
                border-radius: 5px;
                padding: 5px;
                margin-top: 10px;
                height: 5rem;
                &.friend-item{
                    justify-content: space-between;
                    .actions{
                        display: flex;
                        gap: 1rem;
                    }

                    .link{
                        margin: unset;
                    }
                }
                &.unread{
                    box-shadow: 0px 0px 10px 1px rgb(8 8 255);
                }
                img{
                    width: 4rem;
                    border-radius: 50%;
                    margin-right: 10px;

                }
                .link{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $black;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: bold;
                    cursor: pointer;
                    span{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $black;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                  
                }
               

                button{
                    outline: none;
                    padding: 8px;
                    border-radius: 5px;
                    border: none;
                    background-color: $blue;
                    color: $white;
                    font-weight: bold;
                    cursor: pointer;
                }

                &.message-item{
                    cursor: pointer;

                    &.unread{
                        box-shadow: 0px 0px 10px 1px rgb(8 8 255); 
                    }
                    
                    .last-message-container{
                        div{
                           
    
                            &:nth-of-type(1){
                                font-weight: bold;
                            }

                            &:nth-of-type(2){
                                margin-top: 5px;
                            }
                        }
                    }
                }

                &.notification-item{
                    .notification{
                        cursor: pointer;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        *{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .bold{
                            font-weight: bold;
                        }
                    }
                    
                    // div{
                    //     text-overflow: ellipsis;
                    //     width: 17rem;
                    //     white-space: initial;
                    //     overflow: hidden;
                    // }
                    // span{
                    //     font-weight: bold;
                    // }
                }

               
            }
        }

       
    }

    
    // @media only screen and (max-width: 767px) {
    //     flex-direction: column;
    // }

}