.single-post-container{
    background-color: $darkGrey;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    &:nth-of-type(1){
        margin-top: 0;
    }

    .post-actions{
        text-align: right;
        color: $white;
        font-weight: bold;
        position: relative;
        
        i{
            cursor: pointer;
        }
        .dropdown{
            display: none;
            position: absolute;
            right: 0;
            top: 1.1rem;
            background-color: $grey;
            color: $black;
            padding: 0.6rem;
            text-align: center;
           
            border-radius: 5px;
            .item{
                cursor: pointer;
                border: 1px solid $black;
                border-radius: 5px;
                padding: 0.4rem;
                &:nth-of-type(2){
                    margin-top: 5px;
                }
            }
            &.active{
                display: block;
            }
        }
    }
    .heading{
        display: flex;
        align-items: center;
        gap: 10px;
       
        .links{
            display: flex;
            gap: 10px;
            .arrow-right{
                font-size: 3rem;
                font-weight: bold;
                color: $white;
            }
            img{
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
            }
            a{
                display: flex;
                align-items: center;
                color: $white;
                gap: 15px;
                font-weight: bold;
                text-decoration: none;

               
            }
        }

        .other{
            color: $white;
            display: inline;
            white-space: normal;
            line-height: 1.3rem;
            flex: 1;
            div{
                margin-left: 5px;
                display: inline-block;
                white-space: normal;
                a{
                    display: inline-block;
                    margin-left: 5px;
                    color: $white;
                    text-decoration: none;
                }
            }
            .taged-container{
                position: relative;
                &:hover{
                    .dropdown{
                        display: block;
                       
                    }
                }
                .dropdown{
                    position: absolute;
                    display: none;
                    border-radius: 5px;
                    background-color: $grey;
                    padding: 1rem;
                    color: $blue;
                    z-index: 2;
                    .item{
                       white-space: nowrap;
                       margin-top: 5px;
                       margin-left: 0;
                       &:nth-of-type(1){
                            margin-top: 0;
                       }
                       a{
                            width: fit-content;
                            color: $blue;
                            width: 100%;
                         
                           
                        }
                    }
                   
                }
            }
            .bold{
                font-weight: bold;
                &.pointer{
                    cursor: pointer;
                }

              
            }
        }
    }

    .body{
        color: $white;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .image{
        img{
            width: 100%;
            max-height: 66vh;
            object-fit: fill;
        }
    }

    .created{
        color: $white;
        margin: 10px 0;
    }

    .info-container{
        display: flex;
        .reactions{
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
            .container{
                display: flex;
            }
            .counter{
                color: $white;
                font-weight: bold;
            }
        }

    }

    .actions-container{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        padding: 0.7rem;
        position: relative;
        .react{
            &:hover{
                .dropdown{
                    display: block;
                }
            }
            .dropdown{
                position: absolute;
                display: none;
                background-color: $grey;
                padding: 10px;
                border-radius: 5px;
                bottom: 2.1rem;
                left: 0;

                .container{
                    display: flex;
                    gap: 10px;
                    .emoji-item{
                        &:hover{
                            transform: scale(2,2);
                        }
                    }
                }
            }
        }
        .item{
            font-size: 1.3rem;
            color: $white;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .comments-section{
        margin-top: 1rem;
        .load-more{
            cursor: pointer;
            color: $white;
            font-size: 1rem;
            text-align: center;
            padding: 0.4rem;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .comment-item{
            margin: 0.7rem 0;
            .body{
                display: flex;
                gap: 1rem;
               .profile{
                a{
                    img{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                    }   
                }
               }
               
               .content-container{
                flex: 1;
                .btns{
                    .btn{
                        margin-top: 1rem;
                    }
                    margin-bottom: 10px;
                    display: flex;
                    gap: 1rem;
                }
               
                .content{
                    background-color: $grey;
                    padding: 0.2rem 0.5rem;
                    border-radius: 5px;
                    color: $black;
                    .body{
                        display: block;
                        a{
                            font-size: 1rem;
                            text-decoration: none;
                            color: $blue;
                        }
                        .html{
                            color: $black;
                            font-size: 1rem;
                        }
                    }
                }

                .actions{
                    font-size: 1rem;
                    display: flex;
                    gap: 1rem;
                    margin-top: 0.2rem;
                    margin-bottom: 0.2rem;
                    .link{
                        cursor: pointer;
                    }
                }
               }

               .user-actions{
                position: relative;
                i{
                    cursor: pointer;
                }
                .dropdown{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    background-color: $grey;
                    padding: 0.5rem;
                    border-radius: 5px;
                    .btn{
                        width: 60%;
                        text-align: center;
                        &:nth-of-type(1){
                            margin-bottom: 1rem;
                        }
                    }
                    &.active{
                        display: block;
                    }
                }
               }

               .children{

                .comment-new{
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    a{
                        img{
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                        }
                    }

                    .input-comment{
                        font-size: 1rem;
                        font-weight: 300;
                        flex: 1;
                    }
                    .btn{
                        width: fit-content;
                    }
                }

                .btn{
                    margin-top: 1rem;
                }
               }
            }
        } 
        .new-comment-form{
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-top: 1rem;
           .profile{
            a{
                img{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                }
            }
           }
           .input-comment{
            width: 100%;
           }
           .btn{
            height: fit-content;
           }
        }
    }
    
}

.show-post{
    width: 60%;
    padding-top: 2rem;
    margin: auto;

    @media only screen and (max-width: 1200px) {
        width: 100%;
    }
}